NEXT_PUBLIC_SUPABASE_URL=https://gjwdlbwznkwjghquhhyz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdqd2RsYnd6bmt3amdocXVoaHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0NTEzNjksImV4cCI6MjA4MjAyNzM2OX0.pQTxrgsKygh3S83AvVv9Lg0KgebXBwKbD5ID-gsmdDI